* {
  box-sizing: border-box;
}

:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#root {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 320px;
  height: 100vh;
  position: relative;
}

body {
  --primary: #1abc9c;
  --text-color-1: #192E51;
  --text-color-2: #607698;
  --body-background: #FFF;
  --gray-bg-1: #E9E9F0;
  --gray-bg-2: #f5f4f4;
  margin: 0;
  overflow: hidden;
  color: var(--text-color-1);
  background-color: var(--body-background);
}

body.dark {
  /* Apply here dark theme colors */
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

a:hover {
  opacity: 0.8;
}

.max-600 {
  width: 620px;
  max-width: 100%;
}

.card {
  padding: 0.6rem;
}

.main {
  display: flex;
  width: 100%;
  flex: 1;
}

.main__content {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 657px) {
  .max-600 {
    width: 100%;
  }
}